<div class="wrapper-stanard text-left">
  <div class="container container-standard">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for @q, url: category_qs_path(category_id: @category.id), method: :post do |f| %>
          <div class="form-group">
            <% if logged_in? %>
              <%= f.label "題名", class: 'text-white' %>
              <%= f.text_field :qtitle, class: 'form-control input-sm margin20' %>
              <%= f.hidden_field :category_id, :value => @category.id %>
          </div>
          <div class="col-md-offset-4 col-md-4">
              <%= f.submit '問題文と選択肢の作成', class: 'btn btn-block' %>
          </div>
            <% else %>
          <div class="col-md-12 ">
              <h1 class="text-white text-center"><%= "クイズの作成はログイン後に行えます"%></h1>
          </div>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>