<div class="topic-index-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="topic-index-single">
          <br>
          <br>
          <br>
          <h1>ツイート</h1>
          <h2 class="topic-author">
            <% @tweets.each do|tweet| %>
              <%= tweet.text %>
               @
              <%= tweet.user.name%>
              <br>
            <% end %>
          </h2>
          <h2 class="topic-author">
            <%= link_to '発言する',new_tweet_path %>
          </h2>
          <h3>カテゴリ検索</h3>
            <%= form_with url:search_tweets_path, method: :get, local: true do |f|%>
              <%= f.collection_select(:category_id, @category, :id, :name, :prompt => "カテゴリ選択") %>
              <%= f.submit '検索', class: 'btn btn-black btn-block' %>
            <% end %>
            <br>
            <h3>キーワード検索</h3>
            <%= form_with url:search_tweets_path, method: :get, local: true do |f|%>
              <%= f.text_field :text%>
              <%= f.submit '検索', class: 'btn btn-black btn-block' %>
            <% end %>
        </div>
      </div>
     </div>
  </div>
</div>
