<div class="topic-index-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="topic-index-single">
          <br>
          <br>
          <br>
          <br>
          勉強時間カレンダー
          <%= month_calendar events: @study_times do |date,study_times| %>
            <%= date %>
              <% a = 0 %>
              <% b = "" %>
              <% study_times.each do |study_time| %>
                <% if !study_time.finish.nil? %>
                  <% a += study_time.finish - study_time.start %>
                <% end %>
                <% if !study_time.plan.achieve.nil? %>
                  <% b = study_time.plan.achieve %>
                <% end %>
              <% end %>
              <%= Time.at(a).utc.strftime('%-H時間%-M分%-S秒') %>
              <br>
              <%= "目標達成度:#{b}" %>
              <br>
            <% end %>
            <br>
          <% if created_plan?%>
            <h2 class="topic-author">
             <br>
             <br>
             本日の学習計画
            </h2>
            <h3>
              <%= current_plan.plandate.strftime("%Y-%m-%d") %>
              <br>
              <% current_plan.todos.each do |todo|%>
                <%= todo.list%>
                <br>
              <% end %>
            </h3>
          <% end %>
          <h2 class="topic-author">
            <% if created_question?%>
              <%= link_to '投稿した質問',questions_search_path,class: 'btn btn-block btn-black'%>
            <% else %>
              <br>
              <br>
              <h5>質問掲示板へ投稿すれば、質問をここで確認できるよ！</h5>
            <% end %>
            <% if created_answer?%>
              <%= link_to '投稿した回答',answers_search_path,class: 'btn btn-block btn-black'%>
            <% else %>
              <br>
              <br>
              <h5>質問掲示板へ投稿すれば、回答をここで確認できるよ！</h5>
            <% end %>
            <% if created_tweet?%>
              <%= link_to '投稿したツイート',search_tweets_path(user_id: current_user.id),class: 'btn btn-block btn-black'%>
            <% else %>
              <br>
              <br>
              <h5>自分の投稿したツイートをここで確認できるよ！</h5>
            <% end %>
          </h2>
          <br>
          <h5>
            ツイート　〜自由に発言しよう！〜
           <%= form_for @tweet do |f| %>
            <div class="form-group">
              <%= f.collection_select(:category_id, @category, :id, :name, :prompt => "カテゴリ選択") %>
              <%= f.text_area :text, class: 'form-control' %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
            </div>
              <%= f.submit '発言する', class: 'btn btn-black btn-block' %>
           <% end %>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>