<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-white">学習掲示板　〜あなたの勉強をサポート〜</h1>
    <h2 class="text-white">ここでは、あなたの学習計画の作成、学習に関する質問・回答を投稿できます！</h2>
    <div class="row">
      <% if !logged_in? %>
        <div class="col-md-3">
          <%= link_to '新規会員登録',new_user_path, class: 'btn btn-block btn-white' %>
        </div>
        <div class="col-md-3">
          <%= link_to 'ログイン',login_path,class: 'btn btn-block btn-white' %>
        </div>
         <div class="col-md-3">
          <%= link_to '質問掲示板', categorys_path ,class: 'btn btn-block btn-white' %>
        </div>
        <div class="col-md-3">
          <%= link_to 'ツイート', tweets_path,class: 'btn btn-block btn-white' %>
        </div>
      <% else %>
      <div class="col-md-3">
        <% if !created_plan? %>
          <%= link_to '学習計画の作成', new_plan_path,class: 'btn btn-block btn-white' %>
        <% else %>
          <%= link_to 'todoリストの作成', new_plan_todo_path(current_plan),class: 'btn btn-block btn-white' %>
        <% end %>
      </div>
        <% if created_plan? %>
          <div class="col-md-3">
            <%= link_to '学習計画の閲覧', plan_path(current_plan),class: 'btn btn-block btn-white' %>
          </div>
          <div class="col-md-3">
           <% if !created_study_time? %>
             <%= link_to '学習開始（時間計測）',new_study_time_path,class: 'btn btn-block btn-white'  %>
           <% else %>
             <%= link_to '学習中（時間計測中）',study_time_path(id: current_study_time.id),class: 'btn btn-block btn-white'  %>
           <% end %>
          </div>
        <% end %>
      <div class="col-md-3">
        <%= link_to '質問掲示板', categorys_path,class: 'btn btn-block btn-white' %>
      </div>
      <div class="col-md-3">
        <%= link_to 'ツイート', tweets_path,class: 'btn btn-block btn-white' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
