<div class="users-new-wrapper" >
<br>
<br>
<br>
<br>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for @todo, url: plan_todos_path do |f| %>
          <div class="form-group">
            <%= f.label "todoリスト" %>
            <%= f.text_area :list, class: 'form-control' %>
            <%= f.hidden_field :user_id, :value => @todo.user_id %>
            <%= f.hidden_field :plan_id, :value => @todo.plan_id %>
          </div>
          <% if logged_in? %>
            <%= f.submit 'todo 作成', class: 'btn btn-black btn-block' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>