<div class="users-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 users-new-container">
        <h1 class="timecolor">
          開始時間：
          <%= @study_time.start.strftime('%X') %>
          <br>
          <%# if @study_time.finish.nil? %>
            <%#= link_to '休憩する',new_study_time_break_path(study_time_id: @study_time.id) %>
            <%#= link_to '再開する',new_study_time_restart_path(study_time_id: @study_time.id) %>
            <%# if !@study_time.breaks.nil? %>
              <%#= link_to '再開する',new_study_time_break_restart_path(study_time_id: @study_time.id,break_id: params[:break_id]) %>
              <%# if !@study_time.restarts.nil? %>
                <%# @study_time.breaks.each do |break| %>
                  <%#= puts '休憩時間：' %>
                  <%#= Time.at(break.restart.interval).utc.strftime('%X')  %>
              <%# end %>
            <%# end %>
          <%# end %>
          <% if @study_time.finish.nil? %>
            <%= link_to '勉強を終了する',newfinish_study_time_path(id: @study_time.id) %>
          <% else %>
            終了時間：
            <%= @study_time.finish.strftime('%X')%>
          <% end %>
          <br>
          <% if !@study_time.finish.nil?%>
            勉強時間：
            <%= Time.at(@study_time.finish - @study_time.start).utc.strftime('%X')%>
          <% end %>
          <br>
          <% if !@study_time.finish.nil? && !@study_time.start.nil? %>
            <%= "本日の目標達成度" %>
            <%= form_with(model: @plan, local:true) do |form| %>
              <%= form.radio_button :achieve,:perfect,checked: true %>
              <%= form.label :achieve,"よく出来た", {value: :perfect, style: "display: inline-block;"} %>
              <br>
              <%= form.radio_button :achieve,:NotBad %>
              <%= form.label :achieve,"まあまあだった", {value: :NotBad, style: "display: inline-block;"} %>
              <br>
              <%= form.radio_button :achieve,:Bad %>
              <%= form.label :achieve,"全然ダメだった", {value: :Bad, style: "display: inline-block;"} %>
              <br>
              <%= form.submit "本日の目標達成度を評価する",class:"study_time_submit" %>
            <% end %>
          <% end %>
        </h1>
      </div>
    </div>
  </div>
</div>