<div class="topic-index-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="topic-index-single">
          <h2 class="topic-author">
            <br>
            <br>
            <br>
              <%= @plan.plandate.strftime("%Y-%m-%d") %>
          </h2>
          <h3>
            やることリスト
          </h3>
            <p class="topic-text">
              <% @plan.todos.each do |todo| %>
                <%= todo.list %>
                  &nbsp;
                <%= link_to '編集',edit_plan_todo_path(plan_id: todo.plan_id,id: todo.id) %>
                  &nbsp;
                <%= link_to '削除',plan_todo_path(plan_id: todo.plan_id,id: todo.id),method: :delete %>
                <br>
              <% end %>
            </p>
          <br>
          <br>
          <h3>
            <% if !@plan.achieve.nil? %>
              <%= "本日の目標達成度:#{@plan.achieve}" %>
            <% end %>
          </h3>
          </div>
        </div>
      </div>
  </div>
</div>